.splurge-container {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSZY10ovtJMepCuc-ZF-6_cfzu8LctM92dpMA&usqp=CAU");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backface-visibility: hidden;
  background-attachment: fixed;
}

.splurge-container p {
    width: 100%;
    max-width: 1000px;
    margin: auto;
  padding: 10vh 10px;
  text-align: justify;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.350);
  color: thistle;
}
