@import "~react-image-gallery/styles/css/image-gallery.css";

.imgclass > div {
  width: 100vw !important;
  height: 50vh !important;
  max-height: 50vw;
  display: grid;
  place-content: center;
  overflow: hidden;
}

.imgclass img {
  width: 100vw !important;
  height: 300vh;
  min-height: 100vh;
  max-height: 100% !important;
  filter: blur(4px);
}

.image-gallery-description {
  font-family: "Outrun future", "Shadows Into Light", "Rajdhani",
    "Permanent Marker", "Amatic SC", "Caveat", cursive;
  font-size: clamp(40px, 3vw, 5vw);
  color: black !important;
  text-shadow: 0 0 15px #b000bd;
  top: 0;
  bottom: 0 !important;
  left: 0 !important;
  right: 0;
  display: grid;
  place-items: center;
  background-color: rgb(255, 255, 255, 0.2) !important;
}

.splurge-container {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSZY10ovtJMepCuc-ZF-6_cfzu8LctM92dpMA&usqp=CAU");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backface-visibility: hidden;
  background-attachment: fixed;
}

.splurge-container p {
    width: 100%;
    max-width: 1000px;
    margin: auto;
  padding: 10vh 10px;
  text-align: justify;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.350);
  color: thistle;
}
