@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
/* font-family: 'Amatic SC', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");
/* font-family: 'Caveat', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Contrail+One&display=swap");
/* font-family: 'Contrail One', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
/* font-family: 'Prata', serif; */
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("//db.onlinewebfonts.com/c/970491b79b0c46e858e11fabbe7d43a7?family=Outrun+future");
/* font-family: 'Outrun future'; */


.landing-container {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    display: grid;
    place-items: center;
    font-family: 'Outrun future', 'Amatic SC', 'Caveat', 'Contrail One', 'Prata', cursive;
}

.ytalink, .landing-container p {
    color: #282828;
    font-family: 'Quicksand', 'Yanone Kaffeesatz', 'Contrail One', 'Prata',  cursive;
}

.landing-container h1 {
    font-size: 80px;
    color: #282828;
    text-shadow: none;
    font-family: 'Outrun future', 'Amatic SC', 'Caveat', 'Contrail One', 'Prata', cursive;
}